<div class="presentation-container">
    <div class="image-container">
        <img src="eric 1.png">
    </div>
    <div class="media-container">
        <a href="#"><img src="github.png" width="33" class="img-presentation"></a>
        <a href="#"><img src="instagram 1.png" width="33" class="img-presentation"></a>
        <a href="#"><img src="linkedin.png" width="33" class="img-presentation"></a>
        <a href="#"><img src="mail 1.png" width="33" class="img-presentation"></a>
    </div>
    <div class="name-container">
        <h1>Eric Baena</h1>
        <h1>Web Developer</h1>
    </div>
</div>
