.presentation-container{
    display: flex;
    justify-content: space-between;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 80px;
    vertical-align: top;
}
.image-container{
    margin-top: 30px;
}
.image-container > img {
    width: 350px;
    border-radius: 50%;
    border: 15px solid #7E5F3D;
    box-shadow: 7px 7px 6px 0px #779978;
}

.media-container {
    background-color: #F5F5F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70px;
    border-radius: 10px;
    height: 300px;
    margin-top: 70px;
}

.media-container > *{
    margin: 10px 0;
    padding: 5px;
}
.name-container{
    margin-top: 93px;
}
.name-container > * {
    color: #F5F5F0;
    text-shadow: 3px 3px #779978;
    font-size: 6em;
    margin: 0;
}