<div class="presentation-container">
    <div class="image-container">
        <img width="500" src="../../assets/home.png">
    </div>
    <div class="media-container">
        <a href="#"><img src="home 1.png" width="33"></a>
        <a href="#"><img src="../../assets/home.png" width="33"></a>
        <a href="#"><img src="../../assets/home.png" width="33"></a>
        <a href="#"><img src="../../assets/home.png" width="33"></a>
    </div>
    <div class="name-container">
        <h1>Eric Baena</h1>
        <h1>Web Developer</h1>
    </div>
</div>
